.header-main {
    height: 70px;
    background-color: #171614;
}
.header {
    display: flex;
}
.header img {
    height: 60px;
    margin-top: 5px;
}
.header a {
    color: #e5ecf4;
    font-family: "Verdana";
    font-size: 1.2em;
    text-align: center;
}
.header ul {
    list-style-type: none;
    color: #e5ecf4;
    font-family: "Verdana";
    text-decoration: none;
    position: relative;
    right: -50%;
}
.header li {
    display: inline;
    padding: 20px;
}
.footer {
    height: 90px;
    background-color: #171614;
}
.footer a {
    color: #e5ecf4;
    font-family: "Verdana";
    font-size: 1.2em;
    position: relative;
    left: 2%;
    top: 20px;
    bottom: 20px;
}
A {
    text-decoration: none;
}
A:visited {
    color: #e5ecf4;
}
A:active {
    color: #aca6a6;
}

.body {
    background-color: #2b292c;
}

.main-page {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}
.main-page h1 {
    color: #e5ecf4;
    font-family: "Garamond";
    text-align: center;
}
.main-page h2 {
    color: #e5ecf4;
    font-family: "Verdana";
    font-style: italic;
    text-align: center;
}
.main-page h3 {
    color: #e5ecf4;;
    font-family: "Verdana";
    font-style: italic;
    text-align: center;
}
.main-page img {
    display: block;
    margin: 0 auto;
}
.main-page a {
    display: block;
    text-align: center;
    font-size: 2em;
    color: #e5ecf4;
}
.main-page legend {
    text-align: center;
    font-size: 2em;
    color: #e5ecf4;
}
.main-page input {
    background-color: #e5ecf4;
    width: 20%;
    position: relative;
    left: 25%;
    font-size: 1em;
    font-family: Verdana;
    color: #171614;
}
.main-page textarea {
    width: 50%;
    height: 400px;
    position: relative;
    left: 25%;
    background-color: #e5ecf4;
    font-size: 2em;
    font-family: Verdana;
    color: #171614;
}
.main-page iframe {
    width: 50%;
    position: relative;
    left: 25%;
}
.catalog {
    display: flex;
    position: relative;
    left: 10%;
}
.h {
    color: #e5ecf4;
    font-family: "Garamond";
    text-align: center;
}
.product {
    display: block;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 30%;
    outline: 5px solid #aca6a6;
    text-align: center;
}
.product img {
    height: 200px;
    width: 200px;
}
.product a {
    font-size: 1.5em;
    color: #e5ecf4;
}
.product-image {
    position: relative;
    width: 400px;
    height: 400px;
    left: 10%;
    top: 50px;
}
.product-page {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.product-page img {
    width: 400px;
    height: 400px;
    margin-left: 20%;
}
.product-info {
    display: block;
    margin-left: 5%;
    text-align: left;
    width: 20%;
}
.product-info h1 {
    color: #e5ecf4;
    font-family: "Garamond";
}
.product-info h2 {
    color: #e5ecf4;
    font-family: "Verdana";
}
.product-info h3 {
    color: #e5ecf4;
    font-family: "Verdana";
}
.product-info input {
    font-family: "Verdana";
    font-size: 1.7em;
}

