<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>♂Latex gloves♂</title>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
   <header class="header-main">
       <div class="header">
           <ul>
               <li><img src="{{ url_for('static', filename='pictures/logo-mini.svg') }}"></li>
               <li><a href="/">Главная</a></li>
               <li><a href="catalog">Каталог</a></li>
               <li><a href="contacts">Контакты</a></li>
               <li><img src="{{ url_for('static', filename='pictures/logo-mini.svg') }}"></li>
           </ul>
       </div>
   </header>

   <div class="product-page">
       <img src="{{ url_for('static', filename='pictures/wristgloves.png') }}" alt="♂Latex gloves♂">
       <div class="product-info">
           <h1>&#9794Latex gloves&#9794</h1>
           <h2>300$</h2>
           <h3>Лучшие &#9794Latex gloves&#9794 для незабываемых ощущений от &#9794fisting&#9794 </h3>
           <input type="submit" value="Купить">
       </div>
   </div>

   <footer class="footer">
       <a> Электронная почта: gayWebsite@mail.com <br>
           Моб. телефон: 8-800-535-35-35
       </a>
   </footer>
</body>
</html>
</html>